<% layout('layouts/boilerplate')%>
<div class="row col-md-6 offset-md-3 border border-2 border-success rounded-3 py-4 bg-light my-5">
    <h1 class="text-center mb-2 pb-2">Edit Debt</h1>
    <div class="dropdown-divider pb-2"></div>
    <div class="col-10 offset-1">
        <form action="/incomehack/debt/<%= debt._id %>?_method=PUT" method="POST" validate class="validated-form">
            <div class="mb-3">
                <label class="form-label" for="debt">Enter Debt Name:</label>
                <input class="form-control" type="string" id="debt" name="debt" value="<%= debt.debt %>" placeholder="Debt Name" required>
                <div class="valid-feedback">
                    Looks Good!
                </div>
            </div>
            <div class="dropdown-divider py-2"></div>
            <div class="mb-3">
                <label class="form-label" for="amount">Enter Debt Amount:</label>
                <input class="form-control" type="number" id="amount" name="amount" value="<%= debt.amount %>" placeholder="Debt Amount" required>
                <div class="valid-feedback">
                    Looks Good!
                </div>
            </div>
            <div class="dropdown-divider py-2"></div>
            <div class="mb-3">
                <label class="form-label" for="repayed">Enter Repayed Amount:</label>
                <input class="form-control" type="number" id="repayed" name="repayed" value="<%= debt.repayed %>" placeholder="Repayed Amount" required>
                <div class="valid-feedback">
                    Looks Good!
                </div>
            </div>
            <div class="form-group clearfix">
                <button class="btn btn-success float-end mt-3 p-2">Save Debt</button>
            </div>
        </form>
    </div>
</div>    